<div class="row">
<div class="col-md-4">
<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :code, :class=>'form-label' %>
    <%= form.text_field :code, :class=>'form-control',:required => true %>
  </div>

  <div class="mb-3">
    <%= form.label :first_name, :class=>'form-label' %>
    <%= form.text_field :first_name, :class=>'form-control',:required => true %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, :class=>'form-label' %>
    <%= form.text_field :last_name, :class=>'form-control',:required => true %>
  </div>

  <div class="mb-3">
    <%= form.label :dob, :class=>'form-label' %>
    <%= form.date_field :dob, :class=>'form-control',:required => true %>
  </div>

  <div class="mb-3">
    <%= form.label :address, :class=>'form-label' %>
    <%= form.text_field :address, :class=>'form-control',:required => true %>
  </div>
  <div class="mb-3">
    <%= form.label :email, :class=>'form-label' %>
    <%= form.email_field :email, :class=>'form-control',:required => true %>
  </div>

  <div class="actions">
    <%= form.submit :'Save',:class=>'btn btn-primary'%>
  </div>
<% end %>
</div>
</div>